body{
  background-color: #fdfdfd;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.principal{
    display: flex;
    background-color: rgba(160, 250, 250, 0.863);
    margin-left: 0px;
    margin-right:0px;
    flex-direction: row;
    margin-top: 100px;

}
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    font-size: 40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(228, 178, 53)
}
.logoEscuela{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    
}
.areaResultado{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
  
}
.estiloBoton{
    background-color: #4CAF50; 
    border: none;
    color: rgba(255, 255, 255, 0.788);
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;

}
.estiloBoton:hover {
    background-color:white; 
    color: #4CAF50;
    border:1px;
    border-color: #4CAF50;
    border-radius: 5px;
}
.estiloBoton:active{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 20px;
    gap:10px;
    
}
.contenedorBoton{
    display: flex;
    flex:1;
    padding:10px;
    justify-content: center;
    
}
.cajaTexto{
    border-radius: 4px;
    border-color: #4CAF50;
    
    font-size: 20px;
    color:rgb(85, 83, 83);
}
.ingresoDatos{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tituloCampo{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 47, 226);
}
.resultado{
    display: flex;
    flex:1;
    flex-direction: row;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color:rgb(8, 216, 243)

}

.resultado2{
    display: flex;
    flex:1;
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color:rgb(80, 112, 255);
    align-items: center;
}

.resultado3{
    display: flex;
    flex:1;
    flex-direction: row;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color:rgb(55, 39, 145)

}

.resultado4{
    display: flex;
    flex:1;
    flex-direction: row;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color:rgb(87, 63, 226)

}
.imagenResultado{
    display: flex;
    flex:6;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.error{
    color:red;
    font-style: italic;
    font-size: 16px;
    white-space: pre-line;
}
